/*Breadcrumb*/ 

.jumbotron .jumbotron-fluid .jb-wrap { 
	padding: 10px 0 10px 0;
	line-height: 20px;
	display: flex;
	flex-flow: wrap column;
	justify-content: space-around;
	position: relative;
	top: 0px;
	bottom: 0px;
	left: 0;
	right: 0;
	background: rgb(195, 195, 195);
}

.jb-item {
	padding-bottom: 20px;
	margin: 0;
	
}
.mbr-add-item {
	padding: 0;
	text-align: center;


}
.mbr-add-item i {
	position: relative;
	top: 10px;
	margin-bottom: auto;
	margin-top: auto;
	/*font-weight: 400;*/
	/*padding: 20px 0 0 0;*/
}
.text-mbr {
	z-index: 1;
}



.jb-title {
	font-size: 32px;
	font-weight: 400;
	padding: 0;
	margin: 0;
}

.mbr-breadcrumb {
	
	
	padding-left: 10px;
	margin: 0;
	font-size: 14px;
	
} 

.mbr-active {
 color: #a61a3d;
}
/*Custom font*/


/*.mbr-font i {*/
/*	color: #a61a3d;*/
/*	background: #0b2e13;*/
/*	border-radius: 50%;*/
/*	text-align: center;*/
/*	width: 60px;*/
/*	height: 60px;*/
/*	line-height: 60px;*/
/*	vertical-align: middle;*/
/*	font-size: 47px;*/

/*}*/
/*.mbr-font-no:nth-child(1n):before {*/
/*	content: "1";*/

/*}*/
/*.mbr-font-no:nth-child(2n):before {*/
/*	content: "2";*/

/*}*/
/*.mbr-font i:nth-child(3):before {*/
/*	content: "3";*/

/*}*/
.mbr-font {
	border:  1px solid #a61a3d;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	vertical-align: middle;
	text-align: center;
	line-height: 80px;
}
.mbr-font-no {
	font-weight: 600;
	font-size: 56px;
	color: #a61a3d;
	font-style: normal;
}

a.mbr-add-item {
	color: #a61a3d;
}

.alert mbri-alert1 {

	color: #FFFFFF;
	background:#a61a3d ;
}

.ims-logo {
	height: 60px;
	width: auto;
}
.ims-logo2

{
	height: 40px;
	width: auto;
}

/*Lightbox*/

#lightbox .modal-content {
	display: inline-block;
	text-align: center;
}

#lightbox .close {
	opacity: 1;
	color: rgb(255, 255, 255);
	background-color: rgb(25, 25, 25);
	padding: 5px 8px;
	border-radius: 30px;
	border: 2px solid rgb(255, 255, 255);
	position: absolute;
	top: -15px;
	right: -55px;

	z-index:1032;
}